
{% block content %}
<p>I have completed my master degree at VIT University, Vellore in Computer Science. Intern (AI developer) at Mercedes Benz Research and Development India  and Data Analyst at Dell Inc.  

I have good knowledge in C/Java/python/R programming. I am interested to work with your Organization. As an computer science major I have developed strong programming skills.

I have solid knowledge of a variety of operating systems, software development tools, testing, and networking.</p>

{% endblock %}